<!DOCTYPE html>
<html land="en">
  <meta charset="utf-8">
  <head>
    <meta charset="utf-8">
    <title>New Salmon Blog - index</title>
    <link href="/stylesheets/layout.css" rel="stylesheet">
  </head>
  {{> header }}
  <body>
    <div id="main">
      {{ page.html }}
    </div>
  </body>
</html>
