version: 2.1

executors:
  default:
    docker:
      - image: 'rust:1.34-stretch'
    environment:
      MAKE_LIBSASS_JOBS: '4'
      BUILD_JOBS: '4'
  docker:
    docker:
      - image: 'docker:18.06.3-ce'

jobs:
  lint:
    executor: 'default'
    steps:
      - 'checkout'
      - run: 'rustup component add rustfmt'
      - run: 'cargo fmt -- --check'
  build:
    executor: 'default'
    parameters:
      release:
        type: 'boolean'
        default: false
    steps:
      - 'checkout'
      - restore_cache:
          key: 'v1-cargo-lock-{{ checksum "Cargo.lock"}}<<# parameters.release >>-release<</ parameters.release>>'
      - run: 'cargo build --jobs ${BUILD_JOBS} <<# parameters.release >>--release --locked<</ parameters.release>>'
      - save_cache:
          key: 'v1-cargo-lock-{{ checksum "Cargo.lock"}}<<# parameters.release >>-release<</ parameters.release>>'
          paths:
            - '/usr/local/cargo/registry'
            - 'target/'
  test:
    executor: 'default'
    parameters:
      release:
        type: 'boolean'
        default: false
    steps:
      - 'checkout'
      - restore_cache:
          key: 'v1-cargo-lock-{{ checksum "Cargo.lock"}}<<# parameters.release >>-release<</ parameters.release>>'
      - run: 'cargo test <<# parameters.release >>--release --locked<</ parameters.release>>'
  build_docker_image:
    executor: 'docker'
    steps:
      - 'checkout'
      - setup_remote_docker:
          version: '18.06.3-ce'
          docker_layer_caching: true
      - run: 'docker build --tag mozamimy/salmon:latest --tag mozamimy/salmon:${CIRCLE_TAG:1} --tag mozamimy/salmon:${CIRCLE_SHA1} .'
  push_docker_image:
    executor: 'docker'
    environment:
      DOCKER_USER: 'mozamimy'
    steps:
      - 'checkout'
      - setup_remote_docker:
          version: '18.06.3-ce'
          docker_layer_caching: true
      - run: 'docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}'
      - run: 'docker push mozamimy/salmon:latest'
      - run: 'docker push mozamimy/salmon:${CIRCLE_TAG:1}'
      - run: 'docker push mozamimy/salmon:${CIRCLE_SHA1}'
  publish_crate:
    executor: 'default'
    steps:
      - 'checkout'
      - restore_cache:
          key: 'v1-cargo-lock-{{ checksum "Cargo.lock"}}-release'
      - run: 'cargo login ${CRATES_IO_API_TOKEN}'
      - run: 'cargo package --jobs ${BUILD_JOBS} --locked'
      # Cannot publish this crate because using forked sass-rs now.
      # https://github.com/mozamimy/sass-rs/tree/make-libsass-env
      # We are waiting to merge https://github.com/compass-rs/sass-rs/pull/43.
      # - run: 'cargo publish --jobs ${BUILD_JOBS} --locked'

workflows:
  version: 2
  # This workflow is invoked in all branches.
  run_test:
    jobs:
      - 'lint'
      - 'build'
      - test:
          requires:
            - 'lint'
            - 'build'
  # This workflow is invoked when a vX.Y.Z tag is pushed.
  release:
    jobs:
      - lint:
          filters:
            branches:
              ignore: '/.*/'
            tags:
              only: '/^v\d+\.\d+\.\d+/'
      - build:
          release: true
          filters:
            branches:
              ignore: '/.*/'
            tags:
              only: '/^v\d+\.\d+\.\d+/'
      - build_docker_image:
          filters:
            branches:
              ignore: '/.*/'
            tags:
              only: '/^v\d+\.\d+\.\d+/'
      - test:
          release: true
          requires:
            - 'lint'
            - 'build'
          filters:
            tags:
              only: '/^v\d+\.\d+\.\d+/'
      - push_docker_image:
          requires:
            - 'test'
            - 'build_docker_image'
          filters:
            branches:
              ignore: '/.*/'
            tags:
              only: '/^v\d+\.\d+\.\d+/'
      - publish_crate:
          requires:
            - 'test'
          filters:
            branches:
              ignore: '/.*/'
            tags:
              only: '/^v\d+\.\d+\.\d+/'
